---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
    <br/>
    Email me feedback at: <a href='&#109;ailto&#58;%6&#51;&#117;r&#116;&#105;s&#64;l&#37;61%67%72%61%66f&#46;&#109;%6&#53;'>curtis&#64;l&#97;graff&#46;me</a>
    <br/>
    or text me at: <a href='tel:&#43;&#49; &#40;&#53;&#49;&#55;&#41; &#54;&#55;&#50;&#45;&#50;&#50;&#50;&#52;'>&#43;&#49; &#40;&#53;&#49;&#55;&#41; &#54;&#55;&#50;&#45;&#50;&#50;&#50;&#52;</a>
<br/><br/>
  </div>

  {% include disqus.html %}
</article>
